<!--
  Generated template for the Categories page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  <!--<ion-toolbar> -->

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <span *ngIf='!category_name'>
      <ion-title>Eurofood</ion-title>
    </span>
    <span *ngIf='category_name'>
      <ion-title>Categorie</ion-title>
    </span>


    <ion-buttons end>
      <button id="search-btn" ion-button clear (click)="goToSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button id="cart-button" ion-button clear (click)="launchWishlist()">
        <ion-icon name="cart">
          <ion-badge id="cart-badge" color="danger">{{ calcSumOfQty() }}</ion-badge>
        </ion-icon>              
      </button>
    </ion-buttons>

  <!--</ion-toolbar>-->
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <!--<ion-list-header style="margin-bottom: 0px">
    <h2 style="font-size: 1.2em">Tutte le categorie</h2>
    </ion-list-header>-->
    <span *ngIf='!category_name'>
      <ion-item><h2 style="font-size: 1.2em; color:darkgrey"><strong>Tutte le categorie</strong></h2> </ion-item>
    </span>

    <span *ngIf='category_name'>
      <ion-item><h2 style="font-size: 1.2em; color:darkgrey"><strong>{{ category_name }}</strong></h2> </ion-item>
    </span>

    <!--<button ion-item *ngFor="let category of categories" (click)="goToProductsByCategory(category.id, category.name)" >-->
     <span *ngFor="let category of categories" > 
    <button  *ngIf='category.name != "Offerte" && category.name !="Banner" && category.name != "In Evidenza"' ion-item  (click)="goToCategoryOrToProductsByCategory(category.id, category.name)" >
      <!--<span *ngIf='category.name != "Offerte"' [hidden]>-->
      <!--<span *ngIf='category.name != "Offerte" '>
        <span *ngIf='category.name != "App-Featured" '>-->
          {{ category.name }} 
          <!--DEBUG-->
          <!--<p>id_cat:{{category.id}} - id_parent:{{category.id_parent}}</p>-->
        <!--</span>
      </span>-->
        <ion-icon md="md-arrow-forward" item-right></ion-icon>
      
    </button>
     </span>
  </ion-list>
  
  <span *ngIf='has_Subcategories'>
    <button ion-item (click)="goToViewAllInProductsByCategory()">
        Vedi tutto
        <!--<ion-icon name="arrow-forward" item-right></ion-icon>-->
        <ion-icon md="md-arrow-forward" item-right></ion-icon>
    </button>
  </span>

</ion-content>
