<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>
    <button menuToggle ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eurofood</ion-title>
  </ion-navbar>-->
  <ion-navbar>
    <!--<ion-toolbar>-->
      <button menuToggle ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ricerca</ion-title>

  <ion-buttons end>
    <button id="cart-button" ion-button clear (click)="launchWishlist()">
        <ion-icon name="cart">
          <!--<ion-badge id="cart-badge" color="danger">{{ wishlistService.products.length }}</ion-badge>-->
          <!--<ion-badge id="cart-badge" color="danger">{{ productsic.length }}</ion-badge>-->
          <ion-badge id="cart-badge" color="danger">{{ calcSumOfQty() }}</ion-badge>
          
        </ion-icon>              
    </button>
  </ion-buttons>
  <!--</ion-toolbar>-->
  </ion-navbar>

  <ion-toolbar>
    <!--<ion-searchbar (input)="search($event)"></ion-searchbar>-->
    <ion-searchbar #focusInput (input)="search($event)"></ion-searchbar>
    
  </ion-toolbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item text-wrap *ngFor="let product of products" (click)="goToDetails(product.id)">
    <ion-thumbnail item-left>
       <!--<img src="http://www.nebula-projects.com/prestashop/api/images/products/{{product.id}}/{{product.id_default_image}}?output_format=JSON&ws_key=IFYR4IX1YJ3I9WYF2IKZKNC26FUIJPWN" onError="this.src='http://placehold.it/350x150';"  alt="..." />-->
       
       <!--Se non sono stati digitati 3 caratteri (non è quindi partita la ricerca carico l'img del prodotto normalmente
           altrimenti valuto se il prodotto ha o meno l'immagine -->
      <!--<span *ngIf="!resultOfSearch"> -->
        <img src="{{ psApi.psShopHostName }}/images/products/{{product.id}}/{{product.id_default_image}}/home_default?ws_key={{ psApi.psWsKey }}" onError="this.src='assets/img/no_image.svg';" style="width: 100px !important; height: auto !important;" />
      <!--</span>-->

      <!--<span *ngIf="resultOfSearch"> 
        <span *ngIf="product.hasImage"> 
          <img src="{{ psApi.psShopHostName }}/images/products/{{product.id}}/{{product.id_default_image}}/home_default?ws_key={{ psApi.psWsKey }}" 
          style="width: 100px !important; height: auto !important;" />
        </span>-->


        <!--<span *ngIf="!product.hasImage"> 
          <img src="assets/img/no_image.svg" 
          style="width: 100px !important; height: auto !important;">
        </span>
      </span>-->

    </ion-thumbnail>
    <h2  style="font-size: 1em;"><strong>{{ product.name }}</strong></h2>

    <span *ngIf="!product.reduction">

      <!--<span *ngIf="currentUser">-->
      <span *ngIf="isActive_currentUser==1">   
        <h2 style="color:darkgrey; padding-top: 4px !important;">Prezzo:  
          <span style="color:#E03E14;"><strong>{{ product.price  | currency:'EUR':true:'1.2-2'}}</strong></span>
        </h2>
      </span>

      <!--<span *ngIf="!currentUser">-->
      <span *ngIf="isActive_currentUser==0">   
        <h2 style="color:#E03E14; font-size: 0.8em; padding-top: 4px !important;">
          Prezzo disponibile ai nostri clienti
        </h2>
      </span>

      <span *ngIf="!currentUser">   
        <h2 style="color:#E03E14; font-size: 0.8em; padding-top: 4px !important;">
          Prezzo disponibile ai nostri clienti
        </h2>
      </span>

    </span>

    <span *ngIf="product.reduction">
      <h2 style="color:#E03E14; font-size: 1.2em;">
        <strong>- {{ product.reduction | percent }}</strong>
      </h2>
      <h2 style="color:darkgrey"> 
        <strong>
          <!--<span *ngIf="currentUser">-->
            {{ product.discountedPrice | currency:'EUR':true:'1.2-2'}} 
          <!--</span>-->
        </strong>
      </h2>
      <h2 style="color:darkgrey">
        <!--<span *ngIf="currentUser">--> 
          Prezzo di listino <del>{{ product.price | currency:'EUR':true:'1.2-2'}} </del>
        <!--</span>-->
      </h2>
    </span>    

    <!--debug info-->
    <!--<p>id Prod:{{ product.id }} - id img:{{ product.id_default_image }}</p>-->
    <!--<button ion-button clear item-right>View</button>-->
  </ion-item>
</ion-list>



<!--<ion-card *ngFor="let product of products" (click)="goToDetails(product.id)">
  <img src="http://www.nebula-projects.com/prestashop/api/images/products/{{product.id}}/{{product.id_default_image}}?output_format=JSON&ws_key=IFYR4IX1YJ3I9WYF2IKZKNC26FUIJPWN" onError="this.src='http://placehold.it/350x150';"  alt="..." />
    <ion-card-content>
      <ion-card-title>
        {{ product.price  | currency:'EUR':true:'1.2-2'}} 
      </ion-card-title>
      <p>
        {{ product.name }}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon name='star'></ion-icon>
          id Prod:{{ product.id }}
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon name='star'></ion-icon>
          id img:{{ product.id_default_image }}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>-->

</ion-content>
